{% extends 'adminbase.html.twig' %}

{% block title %}New Workflow{% endblock %}

{% block body %}
    <h1>Create new Workflow</h1>

    {{ include('admin/workflow/_form.html.twig') }}

    <a href="{{ path('workflow_index') }}">back to list</a>
{% endblock %}
